.wellDone{
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  flex-direction: column;
  button{
    font-size: 24px;
    background-color: white;
    color: #88249C;
    border: #80AC87 1px solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    width: 400px;
    justify-content: center;
    text-align: center;
    margin: 20px auto;

  }
}
.questions{
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 50px;
  padding-top: 30px;
}
.answers{
  display: flex; 
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin: auto;
  padding-bottom: 30px;
  
  button{
    font-size: 24px;
    background-color: white;
    color: #88249C;
    border: #80AC87 1px solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
  }
  label{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    
  }
}
.startButton{
  display: flex; 
  
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin: auto;
  padding-bottom: 30px;
  button{
    font-size: 24px;
    margin-top: 100px;
    background-color: white;
    color: #88249C;
    border: #80AC87 1px solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
  }
}
.questionsAnswers{
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 20px;
  flex-direction: column;
  h3{
    font-size: 18px;
  }
}